@use'_comoms' as c;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Titillium+Web:wght@200;300;400;600;700&display=swap');



.contenedor {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}

/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 30px;
    grid-row-gap: 30px;
    width: 60%;
    width: 100%;
    transition: .3s;
}

.contenedor .contenedor-items .item {
    max-width: 200px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}

.contenedor .contenedor-items .item .img-item {
    width: 90%;
}

.contenedor .contenedor-items .item:hover {
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}

.contenedor .contenedor-items .item .titulo-item {
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.contenedor .contenedor-items .item .precio-item {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item {
    display: block;
    margin: 10px auto;
    border: none;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/*
.ofertas-container {

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    contain: paint;

    .box {
        flex: 1 1 17rem;
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background: #f6f6f6;
        border-radius: 0.5rem;


        img {
            width: 100%;
            height: 200px;
            object-fit: contain;
            object-position: center;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 1.1rem;
            font-weight: 600;
        }

        span {
            font-size: 1.1rem;
            font-weight: 600;
            color: c.$main-color;
        }

        .bx {
            color: c.$main-color ;
            margin: 0.8rem 0;
        }

        .btn {
            max-width: 120px;
        }

        .details {
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 1.8rem;
            right: 1rem;
            font-size: 1rem;
            color: c.$text-color;

            &:hover {
                color: c.$main-color;
                text-decoration: underline;
            }

        }
    }


}
*/